# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache

# YAML files
.yamllint

# Logs
*.log

# Tests
htmlcov/
.coverage
pytestcache/

# Docker
*.env
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Others
dist/
build/
